html {
  font-family: "Nixie One", cursive;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Special Elite", normal;
}

h3 {
  text-decoration: underline;
}

.banner-text {
  border-bottom: 2px solid #000;
}

.nav-list {
  list-style-type: none;
  padding: 0 0 1em;
}

.nav-btn {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: .5em .75em;
}

.nav-btn:hover {
  color: #fff;
  background-color: #000;
}

.intro-text {
  background-image: url("../images/beans.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.prod-list,
.about-list {
  list-style-type: none;
}
